.container {
    text-align: center;
    width: 400px;
    margin: 100px auto;   
}

p {
    font-size: 40px;
    width: 100px;
    margin: 20px auto;
    color: black;
    background-color: white;
    padding: 20px;
}
button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(170, 167, 167);
    font-size: 20px;
}
button:hover {
    background-color: white;
    color: gray;
}
#plus {
    border-radius: 10px;
    
}
#minus {
    border-radius: 10px;
    
}
input {
    border: 3px solid gray;
    border-radius: 8px;
    font-size: 24px;
    width: 90px;
    height: 50px;
    text-align: center;
    margin: 0 10px;
    
}
